{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{%  static 'feedback.css' %}" />
    
    <title>Feedback </title>
</head>

<body>   
    <h1>Property Selector</h1>
    <h2>Thank you for participating</h2>
    <h3>We value your feedback! Help us improve the relevance of the property listings we give you.</h3>
    <p>
        How well did our property listing results match your expectation in the following areas
    </p>
    <p>
        Price:
        <span class="starRating">
            <input id="rating5" type="radio" name="price" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="price" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="price" value="3">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="price" value="2">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="price" value="1">
            <label for="rating1">1</label>
        </span>
    </p>
    <p>
        Size (sq.ft.):
        <span class="starRating">
            <input id="rating5-s" type="radio" name="size" value="5">
            <label for="rating5-s">5</label>
            <input id="rating4-s" type="radio" name="size" value="4">
            <label for="rating4-s">4</label>
            <input id="rating3-s" type="radio" name="size" value="3">
            <label for="rating3-s">3</label>
            <input id="rating2-s" type="radio" name="size" value="2">
            <label for="rating2-s">2</label>
            <input id="rating1-s" type="radio" name="size" value="1">
            <label for="rating1-s">1</label>
        </span>
    </p>
    <p>
        Number of bedrooms:
        <span class="starRating">
            <input id="rating5-b" type="radio" name="beds" value="5">
            <label for="rating5-b">5</label>
            <input id="rating4-b" type="radio" name="beds" value="4">
            <label for="rating4-b">4</label>
            <input id="rating3-b" type="radio" name="beds" value="3">
            <label for="rating3-b">3</label>
            <input id="rating2-b" type="radio" name="beds" value="2">
            <label for="rating2-b">2</label>
            <input id="rating1-b" type="radio" name="beds" value="1">
            <label for="rating1-b">1</label>
        </span>
    </p>
    <p>
        Safety:
        <span class="starRating">
            <input id="rating5-sa" type="radio" name="safety" value="5">
            <label for="rating5-sa">5</label>
            <input id="rating4-sa" type="radio" name="safety" value="4">
            <label for="rating4-sa">4</label>
            <input id="rating3-sa" type="radio" name="safety" value="3">
            <label for="rating3-sa">3</label>
            <input id="rating2-sa" type="radio" name="safety" value="2">
            <label for="rating2-sa">2</label>
            <input id="rating1-sa" type="radio" name="safety" value="1">
            <label for="rating1-sa">1</label>
        </span>
    </p>
    <p>
        Overall:
        <span class="starRating">
            <input id="rating5-t" type="radio" name="tot" value="5">
            <label for="rating5-t">5</label>
            <input id="rating4-t" type="radio" name="tot" value="4">
            <label for="rating4-t">4</label>
            <input id="rating3-t" type="radio" name="tot" value="3">
            <label for="rating3-t">3</label>
            <input id="rating2-t" type="radio" name="tot" value="2">
            <label for="rating2-t">2</label>
            <input id="rating1-t" type="radio" name="tot" value="1">
            <label for="rating1-t">1</label>
        </span>
    </p>
</body>
   
</html>