<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Input</title>
</head>
<body>
    Hello User
    <form action="/startpp/getdata" method="get">
        <br><br>

        Size of House:<br>
        <input type="text" name="size_of_house_value"><br>
        Priority:
        <input type="range" name="size_of_house" min="0" max="5">
            <br><br>

        Proximity to public transport:<br>
        <input type="text" name="proximity_to_public_transport_value"><br>
        Priority:
        <input type="range" name="proximity_to_public_transport" min="0" max="5">
            <br><br>

        Price of the house:<br>
        <input type="text" name="price_of_the_house_value"><br>
        Priority:
        <input type="range" name="price_of_the_house" min="0" max="5">
            <br><br>

        Number of bedrooms:<br>
        <input type="text" name="number_of_bedrooms_value"><br>
        Priority:
        <input type="range" name="number_of_bedrooms" min="0" max="5">
            <br><br>

        School in the neighborhood:<br>
        <input type="text" name="school_in_the_neighborhood_value"><br>
        Priority:
        <input type="range" name="school_in_the_neighborhood" min="0" max="5">
            <br><br>

        Hospital in the neighborhood:<br>
        <input type="text" name="hospital_in_the_neighborhood_value"><br>
        Priority:
        <input type="range" name="hospital_in_the_neighborhood" min="0" max="5">
            <br><br>

        Pet friendly:<br>
        <input type="text" name="pet_friendly_value"><br>
        Priority:
        <input type="range" name="pet_friendly" min="0" max="5">
            <br><br>

        Yard available:<br>
        <input type="text" name="yard_available_value"><br>
        Priority:
        <input type="range" name="yard_available" min="0" max="5">
            <br><br>

        Bars around:<br>
        <input type="text" name="bars_around_value"><br>
        Priority:
        <input type="range" name="bars_around" min="0" max="5">
            <br><br>

        Crime rate in the locality:<br>
        <input type="text" name="crime_rate_in_the_locality_value"><br>
        Priority:
        <input type="range" name="crime_rate_in_the_locality" min="0" max="5">
            <br><br>

        Places of worship around:<br>
        <input type="text" name="places_of_worship_nearby_value"><br>
        Priority:
        <input type="range" name="places_of_worship_nearby" min="0" max="5">
            <br><br>

        Closeness to workplace:<br>
        <input type="text" name="closeness_to_workplace_value"><br>
        Priority:
        <input type="range" name="closeness_to_workplace" min="0" max="5">
            <br><br>

        Closeness to super market:<br>
        <input type="text" name="closeness_to_super_market_value"><br>
        Priority:
        <input type="range" name="closeness_to_super_market" min="0" max="5">
            <br><br>

        Age of the house:<br>
        <input type="text" name="age_of_the_house_value"><br>
        Priority:
        <input type="range" name="age_of_the_house" min="0" max="5">
            <br><br>

        <br><br>
        <input type="submit">
        </form>
</body>
</html>

